<nav class="content-navigation content-navigation-interno no-mobile">
	<div class="content_m content_h content">
		<div class="navigation-logo">
			<a href="/" title="{{site_nome}}"><img src="{{domain_statics}}/img/logo/logo-b.png" alt="{{site_nome}}" title="{{site_nome}}"></a>
		</div>
		<ul class="navigation container">
			<a href="/"><li class="item">Metalurgica</li></a>
			<a href="/servicos"><li class="item">Serviços</li></a>
			<a href="/sustentabilidade"><li class="item">Sustentabilidade</li></a>
			<li class="item"><i class="icl ic-phone"></i> (54) 3342-3342</li>
			<a href="javascript:trocarIdioma('en')"><li class="item">EN</li></a>
			<a href="javascript:trocarIdioma('pt')"><li class="item">PT</li></a>
			<a href="javascript:trocarIdioma('es')"><li class="item">ES</li></a>
		</ul>
		<div class="navigation-menu">
			<button type="button" class="b b-transparent font30" onclick="adminToggleMenu();"><i class="white icl ic-bars"></i></button>
		</div>
		<div class="container-navegacao">
			<div class="navegacao-titulo">
				<h1 class="text-center white strong">{{titulo}}</h1>
				<p class="text-center white"><a href="/" title="início"><i class="icl ic-home"></i> início</a> <span class="font13"> > </span> <a href="/{{pagina}}" class="strong" title="{{pagina}}"> {{pagina}}</a></p>
			</div>
		</div>
	</div>
</nav>