<section class="content content_v content_h content_m">
	<div class="max40 margin-auto">
		<h2 class="text-center">CRIAR</h2>
		<div class="site-space-2"></div>
		<p class="formulario-titulo">
			<i class="icl ic-fingerprint"></i> E-mail
		</p>
		<div>
			<input id="acc_email" class="formsimple-input width-100" type="text" placeholder="seu E-mail" value="{{email}}" />
		</div>
		<div class="site-space-1"></div>
		<p class="formulario-titulo">
			<i class="icl ic-lock-alt"></i> Senha
		</p>
		<div>
			<input id="acc_senha" class="formsimple-input width-100" type="password" placeholder="******" />
		</div>
		<div class="site-space-1"></div>
		<div class="block width-100 pd-right-min">
			<button class="width-100 b b-primary" id="login_submit" onclick="criar(this)"><i class="icl ic-plus"></i> Criar</button>
		</div>
	</div>
</section>

<script>

	window.criar = async btn => {
		
		btn.innerHTML = '<i class="icl ic-spinner-third rotating"></i> Aguarde...';
		/*btn.disabled = true;*/

		var autentica = dev.ajax('/login/criar', {
			acc_email: acc_email.value,
			acc_senha: acc_senha.value
		});

		autentica.then(res => {

			/* resposta.innerHTML = res.data; */
			if(res.r == 'ok'){
				window.location.href = '/';
				return false;
			}

			btn.innerHTML = '<i class="icl ic-sign-in"></i> criar';
			dev.mensagem(res.data);
			btn.disabled = false;

		}).catch(res => {
			console.error("Ops, algo de errado não deu certo.", res);
		});
	};

	window.login_evento = evt => (evt.keyCode == 13) ? criar(login_submit) : false;

	dev.add('keyup', acc_senha, evt => login_evento(evt));
	dev.add('keyup', acc_email, evt => login_evento(evt));
</script>