<section class="content content_v content_h content_m">
	<h1>Titulo Folha com H1</h1>
	<h2>Titulo Folha com H2</h2>
	<h3>Titulo Folha com H3</h3>
	<h4>Titulo Folha com H4</h4>
	<h5>Titulo Folha com H5</h5>
	<h6>Titulo Folha com H6</h6>

	<ul>
		<li><p class="font100">Texto com peso 100</p></li>
		<li><p class="font200">Texto com peso 200</p></li>
		<li><p class="font300">Texto com peso 300</p></li>
		<li><p class="font400">Texto com peso 400</p></li>
		<li><p class="font500">Texto com peso 500</p></li>
		<li><p class="font600">Texto com peso 600</p></li>
		<li><p class="font700">Texto com peso 700</p></li>
		<li><p class="font800">Texto com peso 800</p></li>
		<li><p class="font900">Texto com peso 900</p></li>
	</ul>

	<p>Lorem ipsum dolor sit amet, consectetur <strong>adipisicing</strong> elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco <strong>laboris</strong> nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</section>

<div class="bg-primary">
	<section class="content content_v content_h content_m">
		<h1 class="white">Container com fundo BG Primary</h1>

		<p class="white">Lorem ipsum dolor sit amet, consectetur <strong>adipisicing</strong> elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco <strong>laboris</strong> nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</section>
</div>
<div class="bg-secondary">
	<section class="content content_v content_h content_m">
		<h1 class="white">Container com fundo BG Secondary</h1>

		<p class="white">Lorem ipsum dolor sit amet, consectetur <strong>adipisicing</strong> elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco <strong>laboris</strong> nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</section>
</div>
<div class="bg-terciary">
	<section class="content content_v content_h content_m">
		<h1 class="white">Container com fundo BG Terciary</h1>

		<p class="white">Lorem ipsum dolor sit amet, consectetur <strong>adipisicing</strong> elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco <strong>laboris</strong> nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</section>
</div>
<div class="bg-gray1">
	<section class="content content_v content_h content_m">
		<h1 class="white">Container com fundo BG Gray1</h1>

		<p class="white">Lorem ipsum dolor sit amet, consectetur <strong>adipisicing</strong> elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco <strong>laboris</strong> nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</section>
</div>
<div class="bg-gray2">
	<section class="content content_v content_h content_m">
		<h1 class="white">Container com fundo BG Gray2</h1>

		<p class="white">Lorem ipsum dolor sit amet, consectetur <strong>adipisicing</strong> elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco <strong>laboris</strong> nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</section>
</div>
<div class="bg-danger">
	<section class="content content_v content_h content_m">
		<h1 class="white">Container com fundo BG Danger</h1>

		<p class="white">Lorem ipsum dolor sit amet, consectetur <strong>adipisicing</strong> elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco <strong>laboris</strong> nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</section>
</div>