.content-empresa {
	display: table;
	width: 100%;
}
.bg-empresa1{
	display: table;
	width: 100%;
	background-image: url(/img/empresa/empresa1.jpg);
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;
}
.bg-empresa2 {
	display: table;
	width: 100%;
	background-image: url(/img/empresa/empresa2.jpg);
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;
}