@mixin transition($params) {
  -webkit-transition: $params;
     -moz-transition: $params;
   -khtml-transition: $params;
       -o-transition: $params;
          transition: $params;
}

@mixin scale($params) {
  -webkit-transform: scale($params);
     -moz-transform: scale($params);
   -khtml-transform: scale($params);
       -o-transform: scale($params);
          transform: scale($params);
}

@mixin box-shadow($params) {
  -webkit-box-shadow:$params;
     -moz-box-shadow:$params;
   -khtml-box-shadow:$params;
       -o-box-shadow:$params;
          box-shadow:$params;
}

@mixin rotate($params) {
  -webkit-transform: rotate($params);
     -moz-transform: rotate($params);
   -khtml-transform: rotate($params);
       -o-transform: rotate($params);
          transform: rotate($params);
}

@mixin opacity($opacity) {
  -webkit-opacity:$opacity;
     -moz-opacity:$opacity;
   -khtml-opacity:$opacity;
       -o-opacity:$opacity;
          opacity:$opacity;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
   -khtml-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}

#mobile {
  //height:100vh;
  width:100%;
  background:#fff;
  position:relative;
  @include box-shadow(0px 0px 20px 0px rgba(0,0,0,0.1));
  overflow:hidden;
}

#mobileBodyContent {}

#mobileBodyContent::-webkit-scrollbar {
  display: none;
}
#header {
  height: 4.5rem;
  background:#eae8e5;
  z-index: 10;
  position: fixed;
}

#image {
  height:280px;
  width:100%;
  overflow:hidden;
  position:relative;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    left:0;
    top:0;
  }
}

#title {
  height:20px;
  width:200px;
  margin:40px auto;
  background:#eae8e5;
}

#text .item {
  height:10px;
  width:calc(100% - 40px);
  margin:20px auto;
  background:#eae8e5;
}

#burgerBtn {
  border-top:2px solid #f85051;
  height:25px;
  width:30px;
  box-sizing:border-box;
  position: fixed;
  z-index:30;
  left:20px;
  top:15px;
  cursor:pointer;
  @include transition(all 0.3s ease-in);
  &:before {
    content:"";
    display:block;
    position:absolute;
    height:2px;
    width:30px;
    left:0;
    background:#f85051;
    top:10px;
    @include transition(all 0.3s ease-in);
  }
  &:after {
    content:"";
    display:block;
    position:absolute;
    height:2px;
    width:30px;
    left:0;
    background:#f85051;
    bottom:0;
    @include transition(all 0.3s ease-in);
  }
}

#nav {
  position:absolute;
  z-index:10;
  list-style-type:none;
   top: 2rem;
  margin: 2.3rem 0 0 20px;
  padding:0;
  overflow: auto;
  height: 27rem;
  li {
    width:0;
    padding: 1rem;
    @include border-box;
    background:#eae8e5;
    @include transition(all 0.6s ease-in);
    & + li {
      margin-left:-40px;
      & + li {
        margin-left:-80px;
        & + li {
          margin-left:-120px;
        }
      }
    }
  }
}
#nav::-webkit-scrollbar {
  width: .2rem;
}
#nav::-webkit-scrollbar-thumb:vertical{background-color: rgba($gray3, .4)}
#nav::-webkit-scrollbar-thumb:horizontal{background-color: rgba($gray3, .4)}

#demoSelector {
  position:absolute;
  list-style-type:none;
  margin:0;
  padding:0;
  top:333px;
  left:50%;
  margin-left:227px;
  li {
    padding:10px 0 10px 30px;
    position:relative;
    cursor:pointer;
    &:after {
      content:"";
      position:absolute;
      height:10px;
      width:10px;
      @include border-radius(5px);
      background:#d8d5d0;
      left:0;
      top:18px;
    }
    &:before {
      content:"";
      position:absolute;
      height:18px;
      width:18px;
      @include border-radius(12px);
      border:2px solid #888888;
      left:-6px;
      top:12px;
      @include scale(0);
      @include transition(all 0.3s ease-in);
    }
    &.active:before { 
      @include scale(1);
    }
  }
}

.navigationMobiles {
  #nav li {
    width:200px;
    margin-left:0;
  }
  #burgerBtn {
    border-color:transparent;
    &:before {
      @include rotate(45deg);
      width:33px;
      left:-2px;
    }
    &:after {
      @include rotate(135deg);
      bottom:11px;
      width:33px;
      left:-2px;
    }
  }
}

.demo1.navigationMobiles {
  #mobileBodyContent {
    @include scale(0.85);
    margin-left: 16.5rem;
  }
}

.demo2.navigationMobiles {
  #mobileBodyContent {
    margin-left:320px;
    @include opacity (0.4);
  }
}

.demo3.navigationMobiles {
  #mobileBodyContent {
    @include opacity(0);
    @include scale(0.85);
    visibility:hidden;
  }
}

@mixin menuMobile--large(){
}

/* 
  MEDIUM SCREEN 
  max-width: 1200px
  min-width: 1024px
*/
@mixin menuMobile--medium(){
}
/*
  TABLET LANDSCAPE 
  max-width: 1023px
  min-width: 768px
*/
@mixin menuMobile--tablet-landscape(){

  #mobile {
   background-color: #c6c4c1; 
  }
	#mobileBodyContent {
		background:#f8f7f5;
		position: relative;
		z-index:20;
		width:100%;
		height:90vh;
		overflow:auto;
		visibility:visible;
		@include transition(all 0.3s ease-in);
	}
	.demo1.navigationMobiles {
		
		#mobileBodyContent {
			margin-left: 12.6rem;
		}
	}
	.demo2.navigationMobiles {
		#mobileBodyContent {
			margin-left:17rem;
		}
	}
}
/*
  TABLET LANDSCAPE 
  max-width: 767px
  min-width: 641px
*/
@mixin menuMobile--tablet-portrait(){
  #mobile {
   background-color: #c6c4c1; 
  }
	#mobileBodyContent {
		background:#f8f7f5;
		position: relative;
		z-index:20;
		width:100%;
		height:90vh;
		overflow:auto;
		visibility:visible;
		@include transition(all 0.3s ease-in);
	}
	.demo1.navigationMobiles {
		
		#mobileBodyContent {
			margin-left: 13.5rem;
		}
	}
	.demo2.navigationMobiles {
		#mobileBodyContent {
			margin-left:17.5rem;
		}
	}
}

/*
  SMARTPHONE LANDSCAPE
  max-width: 640px
  min-width: 482px
*/
@mixin menuMobile--smart-landscape(){
  #mobile {
   background-color: #c6c4c1; 
  }
	#mobileBodyContent {
		background:#f8f7f5;
		position: relative;
		z-index:20;
		width:100%;
		height:90vh;
		overflow:auto;
		visibility:visible;
		@include transition(all 0.3s ease-in);
	}
	.demo1.navigationMobiles {
		
		#mobileBodyContent {
			margin-left: 19rem;
		}
	}

	.demo2.navigationMobiles {
		#mobileBodyContent {
			margin-left:23rem;
		}
	}
}

/*
  SMARTPHONE PORTRAIT
  max-width: 481px
  min-width: 321px
*/
@mixin menuMobile--smart-portrait(){
  #mobile {
   background-color: #c6c4c1; 
  }
	#mobileBodyContent {
		background:#f8f7f5;
		position: relative;
		z-index:20;
		width:100%;
		height:90vh;
		overflow:auto;
		visibility:visible;
		@include transition(all 0.3s ease-in);
	}

	.demo1.navigationMobiles {
		
		#mobileBodyContent {
			margin-left: 14.5rem;
		}
	}

	.demo2.navigationMobiles {
		#mobileBodyContent {
			margin-left:16rem;
		}
	}
}

/*
  OLD SMARTPHONE
  max-width: 320px
*/
@mixin menuMobile--smart-old(){
  #mobile {
   background-color: #c6c4c1; 
  }
	#mobileBodyContent {
		background:#f8f7f5;
		position: relative;
		z-index:20;
		width:100%;
		height:90vh;
		overflow:auto;
		visibility:visible;
		@include transition(all 0.3s ease-in);
	}
	.demo1.navigationMobiles {
		
		#mobileBodyContent {
			margin-left: 16.5rem;
		}
	}

	.demo2.navigationMobiles {
		#mobileBodyContent {
			margin-left:18.5rem;
		}
	}
}