.bg-servicos1{
	display: table;
	width: 100%;
	background-image: url(/img/servicos/servicos1.jpg);
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;
}
.bg-servicos3{
	display: table;
	width: 100%;
	background-image: url(/img/servicos/servicos3.jpg);
	background-size: cover;
	background-position: right;
	background-repeat: no-repeat;

}
.bg-servicos4{
	display: table;
	width: 100%;
	background-image: url(/img/servicos/servicos4.jpg);
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;
}